[submodule "WBS-Repo"]
	path = WBS-Repo
	url = git@github.com:ReynkeDeVos/WDG25-git-intro.git
	branch = main
[submodule "WDG-25/Primer/Project1"]
	path = WDG-25/Primer/Project1
	url = https://github.com/abdulaah-alchag/gruppe-3
	branch = main
[submodule "WDG-25/Frontend/Project2"]
	path = WDG-25/Frontend/Project2
	url = git@github.com:jan-ninh/news-homepage.git
	branch = main
