[submodule "WDG-25/1_Primer/WBS-Repo_Primer"]
	path = WDG-25/1_Primer/WBS-Repo_Primer
	url = git@github.com:GittyX3b/wbs-primer.git
	branch = main
[submodule "WDG-25/1_Primer/Project_1"]
	path = WDG-25/1_Primer/Project_1
	url = git@github.com:GittyX3b/wbs-project_1.git
	branch = main
[submodule "WDG-25/2_Frontend/WBS-Repo_Frontend"]
	path = WDG-25/2_Frontend/WBS-Repo_Frontend
	url = git@github.com:WDG-025/Frontend.git
	branch = main
[submodule "WDG-25/2_Frontend/2_Web-APIs/Project_2"]
	path = WDG-25/2_Frontend/2_Web-APIs/Project_2
	url = git@github.com:GittyX3b/wbs-project_2.git
	branch = main
[submodule "WDG-25/2_Frontend/3_JS-Modules/Project_3"]
	path = WDG-25/2_Frontend/3_JS-Modules/Project_3
	url = git@github.com:GittyX3b/wbs-project_3.git
	branch = main
[submodule "WDG-25/2_Frontend/3_JS-Modules/Project_3-refactored-Vite"]
	path = WDG-25/2_Frontend/3_JS-Modules/Project_3-refactored-Vite
	url = git@github.com:GittyX3b/wbs-project_3-refactored-vite.git
	branch = main
[submodule "WDG-25/2_Frontend/3_JS-Modules/Repo-EMS-Demo"]
	path = WDG-25/2_Frontend/3_JS-Modules/Repo-EMS-Demo
	url = git@github.com:GittyX3b/wbs-esm-demo.git
	branch = main
[submodule "WDG-25/2_Frontend/5_Building-Apps-with_React/React-Self-Assessment-Basics"]
	path = WDG-25/2_Frontend/5_Building-Apps-with_React/React-Self-Assessment-Basics
	url = git@github.com:GittyX3b/wbs-react-self-assessment-basics.git
	branch = main
[submodule "WDG-25/2_Frontend/5_Building-Apps-with_React/Project-4_Travel-Agency-with-react-router"]
	path = WDG-25/2_Frontend/5_Building-Apps-with_React/Project-4_Travel-Agency-with-react-router
	url = git@github.com:GittyX3b/wbs-project_4.git
	branch = main
[submodule "WDG-25/2_Frontend/5_Building-Apps-with_React/Project-5_Personal-Diary"]
	path = WDG-25/2_Frontend/5_Building-Apps-with_React/Project-5_Personal-Diary
	url = git@github.com:GittyX3b/wbs-project_5.git
	branch = main
[submodule "WDG-25/2_Frontend/5_Building-Apps-with_React/03_Data-Mutations_(with_forms)/Exercises/Form-Submission"]
	path = WDG-25/2_Frontend/5_Building-Apps-with_React/03_Data-Mutations_(with_forms)/Exercises/Form-Submission
	url = git@github.com:GittyX3b/wbs-form-submission.git
	branch = main
[submodule "WDG-25/2_Frontend/5_Building-Apps-with_React/04_Context-API/Example_Shopping-Cart"]
	path = WDG-25/2_Frontend/5_Building-Apps-with_React/04_Context-API/Example_Shopping-Cart
	url = git@github.com:GittyX3b/wbs-reducer-context-example.git
	branch = main
[submodule "WDG-25/2_Frontend/6_TypeScript/Project_6"]
	path = WDG-25/2_Frontend/6_TypeScript/Project_6
	url = git@github.com:GittyX3b/wbs-project_6.git
	branch = main
[submodule "WDG-25/2_Frontend/7_TypeScript-in-React/Project_7"]
	path = WDG-25/2_Frontend/7_TypeScript-in-React/Project_7
	url = git@github.com:GittyX3b/wbs-project_7.git
	branch = main
