[submodule "WBS-Repo"]
    	url = git@github.com:ReynkeDeVos/WDG25-git-intro.git
    	branch = main
    	path = WBS-Repo
[submodule "WDG-25/Primer/Arbeit_mit_Abood"]
	path = WDG-25/Primer/Arbeit_mit_Abood
	url = git@github.com:abdulaah-alchag/gruppe-3.git
	branch = main
[submodule "WDG-25/Frontend/DandyMonicaJan"]
	path = WDG-25/Frontend/DandyMonicaJan
	url = git@github.com:jan-ninh/news-homepage.git
	branch = main
