main {
  #contact-heading {
    width: 100%;
    padding: 4rem min(5rem, 1rem);
    text-align: center;

    & h1 {
      line-break: auto;
    }
  }

  #contact-infos {
    background: papayawhip;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem min(5rem, 2rem);
  }

  #contact-form {
    background:
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem min(5rem, 2rem);

    form {
      width: 60%;

      fieldset {
        min-width: fit-content;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border: 1px dotted brown;
        background: whitesmoke;

        legend {
          font-weight: bold;
          margin-bottom: 1rem;
          color: black;
        }

        div {
          display: flex;
          justify-content: space-between;
          padding-block: 0.5rem;
          display: flex;
          flex-wrap: wrap;

          label {
            width: 25%;
          }

          input,
          textarea {
            flex-grow: 1;
            min-width: 15rem;
            padding: 10px;
            background: rgb(245, 233, 233);
            font-size: 0.8rem;
            border-radius: 10px;
            border: 2px dashed brown;
          }

          textarea {
            height: 7rem;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
